body {
  font-family: "lato", sans-serif;
  background-color: black;
  margin: 0;
  color: white;
}
main {
  border: thin solid white;
  border-radius: 15px;
  margin: 10px 10px 5% 10px;
}
section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 10px;
  border: thin solid white;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #5f4b66;
  padding: 5px 0;
}
header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
nav ul {
  display: inline-block;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 40px;
}
nav a:visited {
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
#Hello {
  margin-top: 5%;
}
#Hello img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#Hello span,
h1 {
  font-style: italic;
}
h3 {
  border: thin solid white;
  border-radius: 15px;
  background-color: #5f4b66;
  padding: 10px;
}
#About a {
  color: #5f4b66;
  text-decoration: none;
  font-style: italic;
}
#About a:hover {
  text-decoration: underline;
}
#About a:visited {
  color: #5f4b66;
}

#Work ul {
  list-style-type: none;
  padding: 10px;
  text-align: left;
}
#Work li {
  display: inline;
}
#Work img {
  width: 560px;
  height: 315px;
  border-radius: 15px;
}
#react {
  margin-left: 60px;
}
#vue {
  margin-left: 140px;
}
#angular {
  margin-left: 120px;
}

#Resume iframe {
  width: 560px;
  height: 315px;
  border-radius: 15px;
  border: none;
}

#Contact form {
  display: block;
}
.form-group {
  padding: 10px;
  border: thin solid white;
}
label {
  display: inline-block;
  width: 100px;
}

input {
  width: 200px;
  height: 30px;
}
button {
  display: block;
  margin: 10px auto 0 auto;
  color: white;
  background-color: #5f4b66;
  cursor: pointer;
  padding: 5px 10px;
}
button:hover {
  padding: 10px 20px;
  text-decoration: underline;
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
  border: thin solid white;
  border-radius: 15px;
}
footer {
  background-color: #5f4b66;
  text-align: center;
  padding: 10px;
}
footer img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
footer img:hover {
  width: 22px;
  height: 22px;
}

